PORT=3000
VITE_SUPABASE_URL=https://qzsbdsivwdeclggljcad.supabase.co                                                     
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6c2Jkc2l2d2RlY2xnZ2xqY2FkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2NTkzNTIsImV4cCI6MjEwMzIzNTM1Mn0.IV3ihHvEs3m9smV2jDLZqqwBRaqRqWHiQBlDzfYl1Ng
VITE_PRINTWAYY_API_KEY=7E12C7B3-FBEB-42CB-8C75-7E25E99EAACA