# URL da API backend (Node.js/Express ou Raupp ERP)
VITE_API_URL=https://seu-backend-raupp.onrender.com
SUPABASE_URL=https://hvwdcsdbqpuqnsacqdpb.supabase.co
SUPABASE_KEY=ssb_publishable_HdxlGzWOKQ15voY_6QHjMw_56vUT9YE